In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
results = pd.read_csv("./data/survey_results_public.csv", index_col="ResponseId")
resultsSchema = pd.read_csv("./data/survey_results_schema.csv")

In [ ]:
results.head(5)

In [27]:
languages = "LanguageHaveWorkedWith"
salary = "ConvertedCompYearly"

results.rename(columns={languages: "Languages", salary: "Salary"}, inplace=True)
results.dropna(subset=["Salary", "Languages"], inplace=True)

results = results.loc[:, ["Country", "Salary", "Languages"]].sort_values(by="Salary")

filtro = (results["Salary"] >= 10000) & (results["Salary"] <= 3e6)
results = results[filtro]
results

,Country,Salary,Languages
ResponseId,,,
63337,Australia,10000.0,C;C#;Go;HTML/CSS;Java;JavaScript;Node.js;PHP;P...
30295,United States of America,10000.0,Bash/Shell;C;Dart;HTML/CSS;Java;JavaScript;Nod...
21403,Peru,10000.0,C++;HTML/CSS;Java;JavaScript;Node.js;PHP;Python
67206,United States of America,10000.0,C;C++
61564,United States of America,10000.0,HTML/CSS;JavaScript;Python;SQL
...,...,...,...
9284,Australia,2939600.0,HTML/CSS;JavaScript;Node.js;TypeScript
82627,Italy,2972700.0,C#;HTML/CSS;JavaScript;TypeScript;VBA
5998,United Kingdom of Great Britain and Northern I...,2993652.0,Rust;Scala
12027,United States of America,3000000.0,C;Python;Rust
18582,United States of America,3000000.0,Bash/Shell;Groovy;Java;Ruby;SQL

In [26]:
lg = results["Languages"]
allLanaguages = lg[21403].split(";")

for row in lg:
    for lang in row.split(";"):
        allLanaguages.append(lang)

allLanaguages = list(set(allLanaguages))
allLanaguages.sort()

meanSalary = pd.DataFrame(data = np.zeros(len(allLanaguages)), index = allLanaguages, columns = ["Salary"])
meanSalary

             Salary
APL             0.0
Assembly        0.0
Bash/Shell      0.0
C               0.0
C#              0.0
C++             0.0
COBOL           0.0
Clojure         0.0
Crystal         0.0
Dart            0.0
Delphi          0.0
Elixir          0.0
Erlang          0.0
F#              0.0
Go              0.0
Groovy          0.0
HTML/CSS        0.0
Haskell         0.0
Java            0.0
JavaScript      0.0
Julia           0.0
Kotlin          0.0
LISP            0.0
Matlab          0.0
Node.js         0.0
Objective-C     0.0
PHP             0.0
Perl            0.0
PowerShell      0.0
Python          0.0
R               0.0
Ruby            0.0
Rust            0.0
SQL             0.0
Scala           0.0
Swift           0.0
TypeScript      0.0
VBA             0.0

In [31]:
import re

for lang in allLanaguages:
    try:
        mask = results["Languages"].str.contains(re.escape(lang))
        average = results.loc[mask, "Salary"].mean()
        meanSalary.loc[lang, "Salary"] = average
    except Exception:
        print(lang)

meanSalary

                    Salary
APL          147330.880597
Assembly     111985.221695
Bash/Shell   116755.145359
C            100840.767323
C#            98953.326001
C++          104139.577648
COBOL        134686.328502
Clojure      149861.223496
Crystal      125361.105023
Dart          80742.929093
Delphi        77759.257592
Elixir       129942.022587
Erlang       132206.755906
F#           135618.123711
Go           125236.591514
Groovy       118531.742704
HTML/CSS      97836.415102
Haskell      109752.014993
Java          99218.009623
JavaScript    98625.065375
Julia        131770.738149
Kotlin       101356.790222
LISP         130563.076132
Matlab        91592.848802
Node.js       99154.184918
Objective-C  114108.942642
PHP           80123.677824
Perl         123808.308736
PowerShell   113160.929872
Python       107538.957182
R            122888.861562
Ruby         124589.088235
Rust         136477.915453
SQL          100094.103916
Scala        138582.538462
Swift        109284.740972
TypeScript   104524.593914
VBA           93616.800297

In [32]:
colors = [
    "#03071E",
    "#370617",
    "#6A040F",
    "#9D0208",
    "#D00000",
    "#DC2F02",
    "#E85D04",
    "#F48C06",
    "#FAA307",
    "#FFBA08"
]

fontdict = {
    'family': 'serif',
    'color':  'darkred',
    'weight': 'normal',
    'size': 16,
}

In [39]:
%matplotlib qt5

plt.style.use("seaborn")

meanSalary.sort_values(by="Salary", inplace=True)
plt.barh(meanSalary.index, meanSalary["Salary"], color=colors)
plt.vlines(meanSalary["Salary"].mean(), 0, len(meanSalary["Salary"]), colors="red", linestyles="dashed", label="Mean Salary")

plt.title("Programming Languages Yearly Compensation")
plt.xlabel("Mean Salary in $")
plt.ylabel("Programming languages")

plt.gca().xaxis.set_major_formatter('${x:1.0f}')
plt.tight_layout()
plt.show()

                    Salary
Delphi        77759.257592
PHP           80123.677824
Dart          80742.929093
Matlab        91592.848802
VBA           93616.800297
HTML/CSS      97836.415102
JavaScript    98625.065375
C#            98953.326001
Node.js       99154.184918
Java          99218.009623
SQL          100094.103916
C            100840.767323
Kotlin       101356.790222
C++          104139.577648
TypeScript   104524.593914
Python       107538.957182
Swift        109284.740972
Haskell      109752.014993
Assembly     111985.221695
PowerShell   113160.929872
Objective-C  114108.942642
Bash/Shell   116755.145359
Groovy       118531.742704
R            122888.861562
Perl         123808.308736
Ruby         124589.088235
Go           125236.591514
Crystal      125361.105023
Elixir       129942.022587
LISP         130563.076132
Julia        131770.738149
Erlang       132206.755906
COBOL        134686.328502
F#           135618.123711
Rust         136477.915453
Scala        138582.538462
APL          147330.880597
Clojure      149861.223496